<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    给你一个字符串，你需要找到它的中间字符。这个字符串可能包含一个词，几个符号或一整句话。如果字符串的长度是偶数，那么你应该返回两个中间字符，但如果长度是奇数，则只返回一个。更多细节请看例子。
</p>

<p style="text-align: center;">
    <img  title="Middle characters" src="{{MEDIA}}middle.png" alt="example" style="max-height: 220px"/>
</p>

<p>
    如果你想在类似的情况下多加练习，可以试试
    <a target="_blank" href="https://py.checkio.org/mission/median/share/f9d8532315579ccdff91d0a45935a809/">Median</a> 任务。
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>一个字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>中间的字符为字符串 <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>它是如何使用的：</strong>
    <i>用于处理文本的工作。</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件：</strong>
    <i>1 &lt;= 文本的长度 &lt;= 100。</i>
</p>
