<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Sie erhalten eine Zeichenfolge, deren mittlere(s) Zeichen Sie finden müssen. Die Zeichenfolge kann ein Wort, ein paar Symbole oder einen ganzen Satz enthalten. Wenn die Länge der Zeichenkette gerade ist, sollten Sie zwei mittlere Zeichen zurückgeben, wenn die Länge jedoch ungerade ist, geben Sie nur ein Zeichen zurück. Weitere Einzelheiten finden Sie im Beispiel.
</p>

<p style="text-align: center;">
    <img  title="Middle characters" src="{{MEDIA}}middle.png" alt="example" style="max-height: 220px"/>
</p>

<p>
    Wenn Sie mehr mit dem ähnlichen Fall üben möchten, versuchen Sie
    <a target="_blank" href="https://py.checkio.org/mission/median/share/f9d8532315579ccdff91d0a45935a809/">Median</a> auftrag.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Eine Zeichenkette <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Das/die mittlere(n) Zeichen als Zeichenkette <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Wie es verwendet wird:</strong>
    <i>für die Arbeit mit Texten.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Vorbedingung:</strong>
    <i>1 &lt;= die Länge des Textes &lt;= 100.</i>
</p>
