<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Otrzymują Państwo pewien ciąg znaków, w którym należy znaleźć jego środkowy(e) znak(i). Ciąg może zawierać jedno słowo, kilka symboli lub całe zdanie. Jeśli długość ciągu jest parzysta, należy zwrócić dwa środkowe znaki, ale jeśli długość jest nieparzysta, należy zwrócić tylko jeden. Aby uzyskać więcej informacji, proszę zapoznać się z Przykładem.
</p>

<p style="text-align: center;">
    <img  title="Middle characters" src="{{MEDIA}}middle.png" alt="example" style="max-height: 220px"/>
</p>

<p>
    Jeśli chcą Państwo poćwiczyć z podobnym przypadkiem, proszę spróbować
    <a target="_blank" href="https://py.checkio.org/mission/median/share/f9d8532315579ccdff91d0a45935a809/">Median</a> misja.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Środkowy znak (znaki) jako ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Jak jest używany:</strong>
    <i>do pracy z tekstami.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunek wstępny:</strong>
    <i>1 &lt;= długość tekstu &lt;= 100.</i>
</p>
